* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* ===== 왼쪽 배너 영역 ===== */
.sidebar {
    width: 300px;
    background-color: #ffefb8;
    border-right: 1px solid #e6dfc7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 24px;
}

.sidebar-logo {
    width: 180px;
    margin-bottom: 32px;
}

.sidebar-title-box {
    width: 100%;
    border-top: 3px solid #111;
    border-bottom: 3px solid #111;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 32px;
}

.sidebar-title-main {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}

.sidebar-title-sub {
    font-size: 25px;
    font-weight: 600;
}

.member-list {
    text-align: center;
    width: 100%;
    font-size: 23px;
    line-height: 1.8;
    color: #555;
    margin-top: 70px;
    margin-bottom: auto;
}

.member-list li {
    list-style: none;
}

.signup-btn {
    margin-top: 32px;
    margin-bottom: 50px;
    width: 70%;
    padding: 12px 0;
    border-radius: 20px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}
.signup-link {
    display: block;
    text-align: center;
    text-decoration: none;   /* 밑줄 제거 */
}

.signup-btn:hover {
    background-color: #111;
    transform: translateY(-1px);
}

/* ===== 오른쪽 전체 영역 ===== */
.main {
    flex: 1;
    display: flex;
}

/* 일반 사용자 / 보호소 1:1 영역 나누기 */
.login-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.login-section:nth-child(2) {
    border-left: 1px solid #f6f6f6;
    background-color: #f6f6f6;
}

/* 둥근 로그인 카드 */
.login-card {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #ffefb8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.08);
}

.login-card img {
    width: 230px;
    margin-bottom: 20px;
}

.login-text-main {
    font-size: 35px;
    font-weight: 500;
    line-height: 1.2;
}