/* ====================== 메인 영역 ====================== */
.main-area {
    flex: 1;
    padding: 100px 100px;
}

/* ======= 표 ======= */
.notice-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 10px;
    overflow: hidden;
}

.notice-table thead th {
    padding: 30px 10px;
    font-size: 23px;
    background-color: #faf4da;
    border-bottom: 2px solid #000;
}

.notice-table tbody td {
    text-align: center;
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
    font-size: 23px;
}

/* 체크 동그라미 */
.circle {
    width: 35px;
    height: 35px;
    border: 2px solid #000;
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
    position: relative;
}

.circle.checked {
    background-color: #e7f8e7;
    border-color: #39a63a;
}

.circle.checked::after {
    content: "";
    width: 15px;
    height: 8px;
    border-left: 3px solid #39a63a;
    border-bottom: 3px solid #39a63a;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* ====== 하단 바 ====== */
.bottom-bar {
    width: 100%;
    margin-top: 26px;
    display: flex;
    align-items: center;
    position: relative;
}


/* 저장 버튼 */
.save-btn {
    margin-top: 20px;
    margin-left: auto;
    padding: 10px 38px;
    background-color: #34332d;
    color: #fff;
    border-radius: 15px;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

/* ===== Lucide 아이콘 스타일 ===== */
.review-icon {
    width: 35px;
    height: 35px;
    stroke: #595959;
    stroke-width: 2;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: 0.2s ease;
}

/* hover 효과 */
.review-icon:hover {
    stroke: #000000;
    transform: scale(1.2);
}

/* click 효과 */
.review-icon:active {
    transform: scale(0.9);
    stroke: #d9534f;
}

/* ====== pagination (dog-list에서 복붙) ====== */
.bottom-bar {
    width: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    position: relative;
}

/* pagination을 가운데 정렬시키는 핵심 */
.pagination {
    flex: 1;                    /* ← 가운데 공간 확보 */
    display: flex;
    justify-content: center;    /* 페이지 번호 중앙 배치 */
    gap: 12px;
}

.save-btn {
    margin-left: auto;          /* ← 오른쪽 끝으로 이동 */
}

.page-btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;
    display: flex;
    border-radius: 50%;
}

.page-btn:hover {
    background-color: #f0f0f0;
}

.page-btn.active {
    background-color: #F4E5A1;
    font-weight: 700;
    color: #333;
}

