* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
}

.page-container {
    display: flex;
    min-height: 100vh;
}

/* ===== 왼쪽 배너 영역 ===== */
.sidebar {
    width: 300px;
    background-color: #ffefb8;
    border-right: 1px solid #e6dfc7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 24px;
}

.sidebar-logo {
    width: 180px;
    margin-bottom: 0;
}

/* sidebar-title-box */
.sidebar-shelter-name { 
    width: 100%;
    border-bottom: 3px solid #111;
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* member-list */
.sidebar-menu {
    text-align: center;
    width: 100%;
    font-size: 23px;
    line-height: 1.8;
    color: #555;
    margin-top: 70px;
    margin-bottom: auto;
}

.menu-btn {
    width: 100%;
    padding: 14px 0;
    margin-bottom: 16px;
    border-radius: 12px;
    border: none;
    background-color: #ffefb8;
    font-size: 23px;
    cursor: pointer;
    transition: 0.15s;
}
.menu-btn:hover {
    background-color: #ffe896;
    transform: translateY(-1px);
}
.menu-btn.active {
    background-color: #f1d066;
    font-weight: 700;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
}

/* signup-btn */
.logout-btn{
    margin-top: 32px;
    margin-bottom: 50px;
    width: 70%;
    border-radius: 20px;
    border: none;
    background-color: #333;
    display: fx;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}
.logout-font{
    width: 100%;
    padding: 12px 0;
    border-radius: 20px;
    border: none;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}
.logout-btn:hover, .logout-font:hover {
    background-color: #111;
    transform: translateY(-1px);
}