* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
}

.container {
    display: flex;
    min-height: 100vh;
    padding-left: 300px;
}

/* ===== 왼쪽 배너 영역 ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: #ffefb8;
    border-right: 1px solid #e6dfc7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 24px;
}

.profile-icon {
    width: 180px;
    margin-bottom: 5px;     
}

/* sidebar-title-box */
.profile-name { 
    width: 100%;
    border-bottom: 3px solid #111;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 32px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}

/* member-list */
.menu {
    text-align: center;
    width: 100%;
    line-height: 1.8;
    color: #555;
    margin-top: 30px;
}

.menu-item {
    width: 100%;
    padding: 14px 0;
    margin-bottom: 16px;
    border-radius: 12px;
    border: none;
    background-color: #ffefb8;
    font-size: 23px;
    cursor: pointer;
    transition: 0.15s;
}
.menu-item:hover {
    background-color: #ffe896;
    transform: translateY(-1px);
}
.menu-item.active {
    background-color: #f1d066;
    font-weight: 700;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
}

/* signup-btn */
.logout-btn {
    margin-top: 30px;
    width: 70%;
    padding: 12px 0;
    border-radius: 20px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    display: block;
    text-align: center;
    text-decoration: none;
}
.logout-btn:hover {
    background-color: #111;
    transform: translateY(-1px);
}
/* 메인 컨텐츠 영역 (사이드바 옆) */
.main-content {
    flex: 1;
    overflow-y: auto;
}